{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% bootstrap_messages %}
            </div>
        </div>
        <div class="row">
            <h1 class="h1">Labels</h1>
        </div>
        <div class="row">
            <a href="{% url 'label_create' %}">Create label</a>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Имя</th>
                      <th scope="col">Дата создания</th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in object_list %}
                    <tr>
                        <td class="align-middle">{{ label.id }}</td>
                        <td class="align-middle">{{ label.name }}</td>
                        {% language 'ru' %}
                        <td class="align-middle">{{ label.created }}</td>
                        {% endlanguage %}
                        <td class="align-middle">
                            <a href="{% url 'label_update' label.id %}">Изменить</a>
                            <br>
                            <a href="{% url 'label_delete' label.id %}">Удалить</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <th rowspan="5">No labels yet.</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}