{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block body %}
    <div class="container">
    <h3 class="h3">{% trans 'User change' %}</h3>
    {% bootstrap_messages %}
    <form method="post">{% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.html_name == 'password1' or field.html_name == 'password2'%}
            <input value="" name="{{ field.html_name }}" type="password" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
        {% else %}
            <input value="{{ field.value }}" name="{{ field.html_name }}" type="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
        {% endif %}
            {% if field.help_text %}
            <small id="textHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="{% trans 'Update' %}">
    </form>
    </div>
{% endblock %}