{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% bootstrap_messages %}
            </div>
        </div>
        <div class="row">
            <h1 class="h1">{% trans 'Tasks' %}</h1>
        </div>
        <div class="row">
            <a href="{% url 'task_create' %}">{% trans 'Create task' %}</a>
        </div>

            <div class="card mb-3">
                <div class="card-body bg-light">
                    <form class="form-inline center" method="get">
                        {% bootstrap_field filter.form.status field_class='ml-2 mr-3' %}
                        {% bootstrap_field filter.form.executor field_class='ml-2 mr-3' %}
                        {% bootstrap_field filter.form.labels field_class='ml-2 mr-3' %}
                    <div class="ml-2 mr-3">
                        <div class="form-check">
                            <input type="checkbox" name="self_tasks" class="form-check-input" id="id_self_tasks">
                            <label class="form-check-label" for="id_self_tasks">{% trans 'Self tasks only' %}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <input type="submit" value="{% trans 'Confirm' %}">
                    </div>
                    </form>
                </div>
            </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Имя</th>
                      <th scope="col">Статус</th>
                      <th scope="col">Автор</th>
                      <th scope="col">Исполнитель</th>
                      <th scope="col">Дата создания</th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in object_list %}
                    <tr>
                        <td class="align-middle">{{ task.id }}</td>
                        <td class="align-middle"><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
                        <td class="align-middle">{{ task.status.name }}</td>
                        <td class="align-middle">{{ task.author }}</td>
                        <td class="align-middle">{{ task.executor }}</td>
                        {% language 'ru' %}
                        <td class="align-middle">{{ task.created|date:"SHORT_DATETIME_FORMAT" }}</td>
                        {% endlanguage %}
                        <td class="align-middle">
                            <a href="{% url 'task_update' task.id %}">{% trans 'Change' %}</a>
                            <br>
                            <a href="{% url 'task_delete' task.id %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <th rowspan="5">{% trans 'No tasks yet.' %}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}